@use '../../index.module.scss' as mix;

input {
  box-sizing: border-box;
  min-height: 40px;
  width: 320px;
  padding: 4px;
}

p,
span {
  @include mix.font(14, 22);
}
h3 {
  text-align: center;
}

span {
  padding-left: 5px;
}

.signUpButton {
  background-color: #1890ff;
  color: #fff;
  width: 319px;
  min-height: 40px;
  border-radius: 4px;
  &:disabled {
    opacity: 0.5;
  }
}

.signUpFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signUpLink {
  text-align: center;
}

.errorMessage {
  color: red;
}

.errorBorder {
  border: 2px solid red;
  border-radius: 4px;
}

.formSign {
  @include mix.font(20, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 384px;
  max-height: 599px;
  box-sizing: border-box;
  padding: 27px;
  gap: 9px;
  border-radius: 6px;
}
