@use '../../index.module.scss' as mix;

.signInButton {
  background-color: #1890ff;
  color: #fff;
  width: 319px;
  min-height: 40px;
  border-radius: 4px;
  &:disabled {
    opacity: 0.5;
  }
}

.formSign {
  @include mix.font(20, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 384px;
  max-height: 599px;
  box-sizing: border-box;
  padding: 27px;
  gap: 9px;
  border-radius: 6px;
}

.signInFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signInLink {
  text-align: center;
}

.errorMessage {
  color: red;
}

.errorBorder {
  border: 1px solid red;
  border-radius: 2px;
}
