@use '../../index.module.scss' as mix;

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.headerName {
  @include mix.font();
  text-decoration: none;
}

.sign {
  display: flex;
  gap: 10px;
  align-items: center;

  .buttonSign {
    @include mix.font();
    height: 51px;
    width: 109px;
    background-color: #fff;
    border: none;

    &:hover,
    &:active {
      color: #52c41a;
      border: 1px solid #52c41a;
      border-radius: 5px;
    }
  }

  .buttonCreateArticle {
    @include mix.font(14, 22);
    height: 31px;
    width: 112px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;

    &:hover,
    &:active {
      color: #52c41a;
      border-color: #52c41a;
    }
  }

  .signUser {
    display: flex;
    align-items: center;
    gap: 10px;
    @include mix.font();
  }

  .buttonLogOut {
    @include mix.font();
    height: 51px;
    width: 109px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;

    &:hover,
    &:active {
      color: #52c41a;
      border-color: #52c41a;
    }
  }
}
